<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tw.techradar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="13" />

    <application
        android:icon="@drawable/technology_radar_icon72"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
                android:name=".activity.ItemInfoActivity"
                android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CurrentRadar"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_current_radar" >
        </activity>
        <activity android:name=".activity.ActionBarTabsPager">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>
</manifest>